@{
    ViewBag.Title = "Home Page";
}

<main>
    <div class="row">
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">Gina Aplicacion</h2>
            <p>Bienvenido a nuestra aplicación. Aquí podrás encontrar diversas funcionalidades para gestionar tus necesidades.</p>
        </section>
    </div>
</main>
